asgiref==3.11.1
Django==6.0.6
djangorestframework==3.17.1
sqlparse==0.5.5
tzdata==2026.2
djangorestframework-simplejwt==5.3.1
django-filter==24.3
drf-spectacular==0.27.2
django-cors-headers==4.3.1
Pillow
